# Ignore core and vendor when managing dependencies with Composer.
web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib
node_modules
vendor

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore the sass cache.
.sass-cache/
compiled/
