{% if intro %}
<header class="intro">
  <div class="wrap">
    {{ intro }}
  </div>
</header>
{% endif %}

<div class="content boxed grid2">
  <!-- Item -->
  <article class="full-width hentry">
    <div class="one-half">
      <div class="text">
        {{ main }}
      </div>
    </div>
    <div class="one-half">
      {{ map }}
    </div>
  </article>
  <!-- //Item -->
</div>
