<div class="content error">
  <!-- Wrapper -->
  <div class="wrap">
    <div class="row">
      <!-- OneHalf -->
      <div class="one-half center">
        {{ image }}
      </div>
      <!-- //OneHalf -->

      <!-- OneHalf -->
      <div class="one-half">
        {{ main }}
      </div>
      <!-- //OneHalf -->
    </div>
  </div>
  <!-- //Wrapper -->
</div>
