/**
 * @file
 * Drupal specitic styles.
 */

/**
 * Fonts.
 */
@import "fonts";

/**
 * Theme.
 */
@import "style";

/**
 * Drupal Overrides
 */
.layout-container {
  margin: 0;
}

/**
 * Toolbar.
 */
.toolbar-fixed,
.toolbar-vertical {
  header.header {
    position: static;
  }

  .main {
    margin-top: 0;
  }
}

ul.toolbar-menu {
  display: block;
}

/**
 * Intro
 */
.intro {
  float: none;
}

/**
 * Crew
 */
.crew article .contact {
  a {
    @extend .circle;
    @extend .small;
    @extend .fa;
    @extend .fa-fw;
    &[href^="tel"] {
      @extend .fa-phone;
    }
    &[href$="/contact"] {
      @extend .fa-envelope;
    }
    &[href*="facebook.com"] {
      @extend .fa-facebook;
    }
    &[href*="twitter.com"] {
      @extend .fa-twitter;
    }
    &[href*="plus.google.com"] {
      @extend .fa-google-plus;
    }
    &[href*="youtube.com"] {
      @extend .fa-youtube-play;
    }
    &[href*="linkedin.com"] {
      @extend .fa-linkedin;
    }
    &[href*="pinterest.com"] {
      @extend .fa-pinterest-p;
    }
    &[href*="github.com"] {
      @extend .fa-github;
    }
    &[href*="drupal.org"] {
      @extend .fa-drupal;
    }
  }
}

.crew article figure img {
  margin: 0 auto;
}

/**
 * Footer
 */
footer.footer a[href*="facebook.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-facebook;
  @extend .fa-fw;
}

footer.footer a[href*="twitter.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-twitter;
  @extend .fa-fw;
}

footer.footer a[href*="plus.google.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-google-plus;
  @extend .fa-fw;
}

footer.footer a[href*="youtube.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-youtube-play;
  @extend .fa-fw;
}

footer.footer a[href*="linkedin.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-linkedin;
  @extend .fa-fw;
}

footer.footer a[href*="pinterest.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-pinterest-p;
  @extend .fa-fw;
}

footer.footer a[href*="github.com"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-github;
  @extend .fa-fw;
}

footer.footer a[href*="drupal.org"] {
  @extend .circle;
  @extend .fa;
  @extend .fa-drupal;
  @extend .fa-fw;
}

/**
 * Form
 */
.form-item,
.form-actions {
  margin: 0;
}

.file-widget img {
  margin: 0;
}

/**
 * Status Messages
 */
.region-highlighted a {
  color: #fff;
  text-decoration: underline;
}

.error_message {
  &.box-yellow {
    color: #000;
    a {
      color: #000;
    }
  }
  &.box {
    margin-bottom: 0;
  }

  ul > li {
    padding: 0;
    &:before {
      content: none;
    }
  }
}

/**
 * Tabs
 */
.region-tabs .tabs {
  height: 80px;
  margin-bottom: 0;
  float: none;
}

/**
 * Forms
 */
input[type="tel"],
input[type="date"],
input[type="time"] {
  @extend input[type="text"];
}

form .field--type-datetime h4 {
  @extend label;
}

form .description {
  @extend label;
  cursor: auto;
  font-size: 12px;
  color: #555;
}

.js-form-type-checkbox {
  @extend .checkbox;
}

.ui-datepicker-calendar td.ui-datepicker-week-end  {
  background: #fff;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
  background: #eee;
}

.ui-datepicker-calendar td.ui-datepicker-today {
  background: #515E64;
}
